<% extend('../layouts/dashboard-layout') %>

<div class="row justify-content-center">
  <div class="col-md-6">

    <div class="btn-group w-100">
      <a href="/dashboard/archives?status=public" class="btn btn-outline-secondary w-100 rounded-0 <% if (status==='public') { %> active <% } %>">已發佈</a>
      <a href="/dashboard/archives?status=draft" class="btn btn-outline-secondary w-100 rounded-0 <% if (status==='draft') { %> active <% } %> ">草稿</a>
      <a href="article.html" class="btn btn-primary">新增文章</a>
    </div>

    <% for (var key in articles) { %>
      <div class="card my-3">
        <h4 class="card-header">
          <%- articles[key].title %>
        </h4>
        <div class="card-body">
          <%- striptags(articles[key].content).slice(0, 150) %>...
          <div>
            <span class="fa fa-clock-o"></span>
            <%- moment(articles[key].update_time * 1000).format('YYYY-MM-DD') %>
            ,
            <span class="fa fa-folder-open-o"></span>
            <span>

                <%- categories[articles[key].category].name %>

            </span>
          </div>
        </div>
        <div class="card-footer p-0 btn-group">
          <a href="/dashboard/article/delete" class="btn btn-outline-danger rounded-0 deletePost" data-id="<%- articles[key].id %>" data-title="<%- articles[key].title %>">刪除</a>
          <a href="#" class="btn btn-outline-secondary w-100 rounded-0">編輯</a>

          <a href="#" target="_blank" class="btn btn-outline-secondary w-100 rounded-0">預覽</a>

        </div>
      </div>
    <% } %>
  </div>
</div>

<nav class="my-5" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="/dashboard/archives" tabindex="-1">Previous</a>
    </li>

      <li class="page-item active">
        <a class="page-link" href="/dashboard/archives">
          1
        </a>
      </li>

      <li class="page-item ">
        <a class="page-link" href="/dashboard/archives">
          2
        </a>
      </li>

    <li class="page-item ">
      <a class="page-link" href="/dashboard/archives">Next</a>
    </li>
  </ul>
</nav>

<script>
  $(document).ready(function () {

    $('.deletePost').on('click', function (e) {
      e.preventDefault();
      var id = $(this).data('id');
      var title = $(this).data('title');

      if (confirm('是否刪除' + title)) {
        $.ajax({
          url: '/dashboard/article/delete/' + id,
          method: 'POST'
        }).done(function (response) {
           window.location = '/dashboard/archives';
        });
      }
    })

  });
</script>
